<div class="example-container mat-elevation-z8">
  <h2>Add Simulations</h2>
  <!--div class="example-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div-->
  <div class="button-row">
    <!--a mat-flat-button color="primary" [routerLink]="['/cars']"><mat-icon>list</mat-icon></a-->
	<button mat-raised-button routerLink="../simulations" color="primary"><mat-icon>list</mat-icon></button>
  </div>
  <mat-card class="example-card">
  
    <form [formGroup]="simulationsForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name">
              
        <mat-error>
          <span *ngIf="!simulationsForm.get('name').valid && simulationsForm.get('name').touched">Please enter Name</span>
        </mat-error>
      </mat-form-field>
	  

	  
      <mat-form-field class="example-full-width">
        <mat-label>Total Runs</mat-label>
        <input matInput placeholder="0" formControlName="totalRun">
              
        <mat-error>
          <span *ngIf="!simulationsForm.get('totalRun').valid && simulationsForm.get('totalRun').touched">Please enter total number of runs</span>
        </mat-error>
      </mat-form-field>
	  
	  
      <mat-form-field class="example-full-width">
        <mat-label>Created By</mat-label>
        <input matInput placeholder="Tom" formControlName="createdBy">
            
        <mat-error>
          <span *ngIf="!simulationsForm.get('createdBy').valid && simulationsForm.get('createdBy').touched">Please enter who created the simulation</span>
        </mat-error>
      </mat-form-field>
	  

	  
      <div class="button-row">
        <button type="submit" [disabled]="!simulationsForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
</form>
  </mat-card>
</div>
