<div class="example-container mat-elevation-z8">
  <h2>Simulation Manager</h2>
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <!--mat-spinner *ngIf="isLoadingResults"></mat-spinner-->
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/add-simulations']"><mat-icon>add</mat-icon> Request</a>
    <a mat-flat-button color="accent" [routerLink]="['/delete-simulations']"><mat-icon>delete</mat-icon> Release</a>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="data" class="example-table"
           matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

      <!-- Simulations Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Simulation Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
	  
      <!-- Simulation createdBy Column -->
      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef>Created By</th>
        <td mat-cell *matCellDef="let row">{{row.createdBy}}</td>
      </ng-container>

      <!-- Simulation totalRun Column -->
      <ng-container matColumnDef="totalRun">
        <th mat-header-cell *matHeaderCellDef>Runs</th>
        <td mat-cell *matCellDef="let row">{{row.totalRun}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
